<h1>
  {{title}}
</h1>
<!--Checkpoint 2 (checkpoint 1 is subsumed)-->
<!--<app-ray-tracer-demo></app-ray-tracer-demo>-->

<!--Checkpoint 3-->
<!--<app-basic-shading></app-basic-shading>-->

<!--Checkpoint 4-->
<!--<app-procedural-texturing></app-procedural-texturing>-->

<!--Checkpoint 5-->
<!--<app-reflection></app-reflection>-->

<!--Checkpoint 6-->
<!--<app-transmission></app-transmission>-->

<!--Checkpoint 7-->
<!--<app-tone-reproduction></app-tone-reproduction>-->

<!--Graphful Project -->
<app-webgl-testing></app-webgl-testing>